2D_MMO_Cient/[Ll]ibrary/
2D_MMO_Cient/[Tt]emp/
2D_MMO_Cient/[Oo]bj/
2D_MMO_Cient/[Bb]uild/
2D_MMO_Cient/[Bb]uilds/
2D_MMO_Cient/[Ll]ogs/
2D_MMO_Cient/[Mm]emoryCaptures/
2D_MMO_Cient/[Uu]ser[Ss]ettings/
.vs
**/.vs
**/**/.vs
**/**/64x
**/**/bin
**/**/obj