2D_MMO_Client/[Ll]ibrary/
2D_MMO_Client/[Tt]emp/
2D_MMO_Client/[Oo]bj/
2D_MMO_Client/[Bb]uild/
2D_MMO_Client/[Bb]uilds/
2D_MMO_Client/[Ll]ogs/
2D_MMO_Client/[Mm]emoryCaptures/
2D_MMO_Client/[Uu]ser[Ss]ettings/

.vs
**/.vs
**/**/.vs
**/**/64x
**/**/bin
**/**/obj